@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Events</h1>
    <p class="lead">This project was created for a eventas page.</p>
    <p><button class="btn btn-primary btn-lg" style="color: white;">@Html.ActionLink("View Events", "Index", "Event") </button></p>
</div>
